{% extends "base.html" %}

{% block title %}Rekap Kehadiran Harian{% endblock %}

{% block content %}
    <h1 class="text-center mt-4">Rekap Kehadiran Harian</h1>
    <h4 class="text-center mb-4">{{ date.strftime('%A, %d %B %Y') }}</h4>
    <form method="post">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Nama</th>
                    <th>Kelas</th>
                    <th>Status Kehadiran</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ student.nama }}</td>
                    <td>{{ student.kelas }}</td>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="status-{{ student.id }}" value="H" {% if student.total_attendance_by_day(date) == 'H' %}checked{% endif %}>
                            <label class="form-check-label">Hadir</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="status-{{ student.id }}" value="A" {% if student.total_attendance_by_day(date) == 'A' %}checked{% endif %}>
                            <label class="form-check-label">Tanpa Keterangan</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="status-{{ student.id }}" value="I" {% if student.total_attendance_by_day(date) == 'I' %}checked{% endif %}>
                            <label class="form-check-label">Izin</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="status-{{ student.id }}" value="S" {% if student.total_attendance_by_day(date) == 'S' %}checked{% endif %}>
                            <label class="form-check-label">Sakit</label>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>
{% endblock %}
